<link rel="stylesheet" href="<%- url_for('css/partial/about.css') %>" />

<div class="about">
  <div class="about-top">
    <div class="about-title">
      <h2>关于我</h2>
    </div>
    <div class="about-info">
      <img class="about-avatar" src="<%- url_for('/imgs/avatar.jpg') %>" alt="">
      <div class="about-detail">
        <% theme.likes.forEach(item => { %>
          <p><%- item %></p>
        <% })%>
      </div>
    </div>
  </div>
  <div class="about-content">
    <%- page.content %>
  </div>
</div>
