<header class="header">
  <div class="header-wrapper">
    <div class="header-left">
      <div class="header-search">
        <input type="text" class="header-search--input" placeholder="请输入要检索的内容" />
        <span class="header-search--icon"><i class="iconfont icon-sousuo"></i></span>
      </div>
    </div>
    <div class="header-right">
      <ul class="header-menu">
        <li>
          <a href="">
            <i class="header-menu--icon iconfont icon-shouye"></i>
            <span class="header-menu--span">首页</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="header-menu--icon iconfont icon-rizhi"></i>
            <span class="header-menu--span">日志</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="header-menu--icon iconfont icon-rizhi"></i>
            <span class="header-menu--span">友情链接</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="header-menu--icon iconfont icon-rizhi"></i>
            <span class="header-menu--span">关于我</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>