<div class="main-left">
  <div class="main-left--block">
    <div class="main-left--info">
      <img src="<%- url_for('imgs/avatar.jpg') %>"" class="main-left--avatar" />
      <div class="main-left--intro">
        <p class="main-left--name">Cola.</p>
        <div class="main-left--tags">
          <span class="main-left--tag">中二</span>
          <span class="main-left--tag">宅</span>
        </div>
      </div>
    </div>
  
    <div>
      <div class="main-left--motto">
        <p>“花有重开日，人无再少年”</p>
        <p>“一个简单普通的男孩”</p>
      </div>
      <div class="main-left--github">
        <span class="line"></span>
        <a href=""><i class="logo iconfont icon-github-fill"></i></a>
        <span class="line"></span>
      </div>
      <div class="main-left--statics">
        <a href="">
          <div>
            <span>12</span>
            <span>分类</span>
          </div>
        </a>
        <a href="">
          <div>
            <span>24</span>
            <span>标签</span>
          </div>
        </a>
        <a href="">
          <div>
            <span>33</span>
            <span>归档</span>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="main-left--block">
    <ul class="main-left--menu">
      <li>
        <a href="">
          <span class="header-menu--span">小站首页</span>
          <i class="header-menu--icon iconfont icon-shouye"></i>
        </a>
      </li>
      <li>
        <a href="">
          <span class="header-menu--span">个人日志</span>
          <i class="header-menu--icon iconfont icon-rizhi"></i>
        </a>
      </li>
      <li>
        <a href="">
          <span class="header-menu--span">友情链接</span>
          <i class="header-menu--icon iconfont icon-youqinglianjie"></i>
        </a>
      </li>
      <li>
        <a href="">
          <span class="header-menu--span">关于自己</span>
          <i class="header-menu--icon iconfont icon-guanyuwomen"></i>
        </a>
      </li>
    </ul>
  </div>

  <div class="main-left--block">
    <div class="main-left--site">
      <h5 class="main-left--title">
        <span>站点信息</span>
        <i class="iconfont icon-zhandian"></i>
      </h5>
      <p class="main-left--subtitle">
        <span>文章数目：</span>
        <span>53篇</span>
      </p>
      <p class="main-left--subtitle">
        <span>最近动态：</span>
        <span>昨天</span>
      </p>
      <p class="main-left--subtitle">
        <span>上线时间：</span>
        <span>100天</span>
      </p>
    </div>
  </div>
</div>